#pageheader{
   padding: 55px 0;
    background-color: #fafaf9;
    .list_header{
        h2{
            font-family: $font-Playfair;
            font-weight: 400;
            font-size: 50px;
            line-height: 1.32em;
        }
        p{
           
            font-family: $font-Lora;
            font-size: 17px;
            font-style: italic;
            text-transform: none;
            letter-spacing: 0;
            color: $gray-txtcolor;
        }
    }
}
#list_card{
    
}