@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  position: relative;
  z-index: 10;
}
nav .logo {
  width: 100%;
  height: 115px;
  display: flex;
  align-items: center;
}
nav .logo img {
  width: 100%;
  height: 25px;
  cursor: pointer;
  -o-object-fit: contain;
     object-fit: contain;
}
nav .navbar {
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
nav .navbar ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 25px;
  list-style-type: none;
}
nav .navbar ul li {
  list-style: none;
  margin-right: 20px;
}
nav .navbar ul li a {
  padding: 45px 3px;
  position: relative;
  font-size: 14px;
  color: #1B1B1B;
  text-decoration: none;
  display: block;
  font-family: "Montserrat", sans-serif;
}
nav .navbar ul li a::before {
  width: 0%;
  height: 1px;
  position: absolute;
  top: 65px;
  left: 0px;
  background-color: #000000;
  content: "";
  transition: 0.3s ease-in-out;
}
nav .navbar ul li a:hover::before {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 65px;
  left: 0px;
  background-color: #000000;
  content: "";
}
nav .navbar ul #search_click {
  position: relative;
  cursor: pointer;
}
nav .navbar ul #search_click:hover {
  color: #F34F3F;
}
nav .navbar ul #search_click .search {
  transition: 0.3s all;
  overflow: hidden;
  opacity: 0;
  width: 300px;
  height: 0px;
  position: absolute;
  top: 67px;
  left: -273px;
  display: flex;
}
nav .navbar ul #search_click .search form {
  width: 292px;
  display: flex;
  align-items: center;
}
nav .navbar ul #search_click .search form input {
  width: 120%;
  padding: 12px;
  border: 1px solid transparent;
  background-color: #fff;
  outline: none;
  font-size: 14px;
}
nav .navbar ul #search_click .search form button {
  margin: 0 0 0 -5px;
  padding: 12px;
  border: 1px solid transparent;
  background-color: #fff;
  outline: none;
  font-size: 14px;
}
nav .navbar ul #search_click .active {
  overflow: hidden;
  height: 60px;
  opacity: 1;
}
nav .navbar ul #home {
  position: relative;
}
nav .navbar ul #home a::before {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 70px;
  left: 0px;
  background-color: black;
  content: "";
}
nav .navbar ul #home #home_hover {
  overflow: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
  width: 448%;
  height: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 113px;
  left: -25px;
  background-color: white;
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav .navbar ul #home #home_hover ul {
  width: 100%;
  margin: 0px;
  padding: 37px 10px 30px 20px;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  gap: 15px;
  list-style-type: none;
}
nav .navbar ul #home #home_hover ul li a {
  padding: 3px;
  position: relative;
  font-size: 14px;
  color: #1B1B1B;
  text-decoration: none;
  display: block;
}
nav .navbar ul #home #home_hover ul li a::before {
  width: 0%;
  height: 1px;
  position: absolute;
  top: 22px;
  left: 0px;
  background-color: black;
  content: "";
  transition: 0.3s ease-in-out;
}
nav .navbar ul #home #home_hover ul li a:hover::before {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 22px;
  left: 0px;
  background-color: black;
  content: "";
}
nav .navbar ul #home:hover #home_hover {
  height: 300px;
  background-color: white;
  overflow: hidden;
  opacity: 1;
}
nav .navbar ul #pages {
  position: relative;
}
nav .navbar ul #pages #home_hover {
  overflow: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
  width: 448%;
  height: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 113px;
  left: -25px;
  background-color: white;
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav .navbar ul #pages #home_hover ul {
  width: 100%;
  margin: 0px;
  padding: 37px 10px 30px 20px;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  gap: 15px;
  list-style-type: none;
}
nav .navbar ul #pages #home_hover ul li {
  cursor: pointer;
}
nav .navbar ul #pages #home_hover ul li a {
  padding: 3px;
  position: relative;
  font-size: 14px;
  color: #1B1B1B;
  text-decoration: none;
  display: block;
}
nav .navbar ul #pages #home_hover ul li a::before {
  width: 0%;
  height: 1px;
  position: absolute;
  top: 22px;
  left: 0px;
  background-color: black;
  content: "";
  transition: 0.3s ease-in-out;
}
nav .navbar ul #pages #home_hover ul li a:hover::before {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 22px;
  left: 0px;
  background-color: black;
  content: "";
}
nav .navbar ul #pages:hover #home_hover {
  overflow: hidden;
  opacity: 1;
  height: 130px;
  background-color: white;
}
nav .navbar ul #shop {
  position: relative;
}
nav .navbar ul #shop #home_hover {
  overflow: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
  width: 1255px;
  height: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 113px;
  left: -673px;
  background-color: white;
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav .navbar ul #shop #home_hover ul {
  width: 100%;
  margin: 0px;
  padding: 37px 10px 30px 20px;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  gap: 15px;
  list-style-type: none;
}
nav .navbar ul #shop #home_hover ul li {
  line-height: 25px;
  cursor: pointer;
}
nav .navbar ul #shop #home_hover ul li a {
  padding: 3px;
  position: relative;
  font-size: 14px;
  color: #1B1B1B;
  text-decoration: none;
  display: block;
}
nav .navbar ul #shop #home_hover ul li a::before {
  width: 0%;
  height: 1px;
  position: absolute;
  top: 22px;
  left: 0px;
  background-color: black;
  content: "";
  transition: 0.3s ease-in-out;
}
nav .navbar ul #shop #home_hover ul li:hover a::before {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 22px;
  left: 0px;
  background-color: black;
  content: "";
}
nav .navbar ul #shop:hover #home_hover {
  overflow: hidden;
  opacity: 1;
  height: 450px;
  background-color: white;
}
nav .navbar ul #shop p {
  margin: 10px 0;
  color: #000000;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
nav .navbar ul #portfolio {
  position: relative;
}
nav .navbar ul #portfolio #home_hover {
  overflow: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
  width: 258%;
  height: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 113px;
  left: -25px;
  background-color: white;
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav .navbar ul #portfolio #home_hover ul {
  width: 100%;
  margin: 0px;
  padding: 37px 10px 30px 20px;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  gap: 15px;
  list-style-type: none;
}
nav .navbar ul #portfolio #home_hover ul li {
  cursor: pointer;
}
nav .navbar ul #portfolio #home_hover ul li a {
  padding: 3px;
  position: relative;
  font-size: 14px;
  color: #1B1B1B;
  text-decoration: none;
  display: block;
}
nav .navbar ul #portfolio #home_hover ul li a::before {
  width: 0%;
  height: 1px;
  position: absolute;
  top: 22px;
  left: 0px;
  background-color: black;
  content: "";
  transition: 0.3s ease-in-out;
}
nav .navbar ul #portfolio #home_hover ul li:hover a::before {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 22px;
  left: 0px;
  background-color: black;
  content: "";
}
nav .navbar ul #portfolio #home_hover ul #port_lay {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .navbar ul #portfolio #home_hover ul #port_lay .bi-chevron-right {
  font-size: 12px;
}
nav .navbar ul #portfolio:hover #home_hover {
  overflow: hidden;
  opacity: 1;
  height: 230px;
  background-color: white;
}
nav .navbar ul #blog {
  position: relative;
}
nav .navbar ul #blog #home_hover {
  overflow: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
  width: 420%;
  height: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 113px;
  left: -25px;
  background-color: white;
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav .navbar ul #blog #home_hover ul {
  width: 100%;
  margin: 0px;
  padding: 37px 10px 30px 20px;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  gap: 15px;
  list-style-type: none;
}
nav .navbar ul #blog #home_hover ul li {
  cursor: pointer;
}
nav .navbar ul #blog #home_hover ul li a {
  padding: 3px;
  position: relative;
  font-size: 14px;
  color: #1B1B1B;
  text-decoration: none;
  display: block;
}
nav .navbar ul #blog #home_hover ul li a::before {
  width: 0%;
  height: 1px;
  position: absolute;
  top: 22px;
  left: 0px;
  background-color: black;
  content: "";
  transition: 0.3s ease-in-out;
}
nav .navbar ul #blog #home_hover ul li:hover a::before {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 22px;
  left: 0px;
  background-color: black;
  content: "";
}
nav .navbar ul #blog #home_hover ul #port_lay {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .navbar ul #blog #home_hover ul #port_lay .bi-chevron-right {
  font-size: 12px;
}
nav .navbar ul #blog:hover #home_hover {
  overflow: hidden;
  opacity: 1;
  height: 130px;
  background-color: white;
}
nav .navbar ul #elements {
  position: relative;
}
nav .navbar ul #elements #home_hover {
  overflow: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
  width: 258%;
  height: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 113px;
  left: -25px;
  background-color: white;
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav .navbar ul #elements #home_hover ul {
  width: 100%;
  margin: 0px;
  padding: 37px 10px 30px 20px;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  gap: 15px;
  list-style-type: none;
}
nav .navbar ul #elements #home_hover ul li {
  cursor: pointer;
}
nav .navbar ul #elements #home_hover ul li a {
  padding: 3px;
  position: relative;
  font-size: 14px;
  color: #1B1B1B;
  text-decoration: none;
  display: block;
}
nav .navbar ul #elements #home_hover ul li a::before {
  width: 0%;
  height: 1px;
  position: absolute;
  top: 22px;
  left: 0px;
  background-color: black;
  content: "";
  transition: 0.3s ease-in-out;
}
nav .navbar ul #elements #home_hover ul li:hover a::before {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 22px;
  left: 0px;
  background-color: black;
  content: "";
}
nav .navbar ul #elements #home_hover ul #port_lay {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .navbar ul #elements #home_hover ul #port_lay .bi-chevron-left {
  font-size: 12px;
}
nav .navbar ul #elements:hover #home_hover {
  overflow: hidden;
  opacity: 1;
  height: 178px;
  background-color: white;
}
nav .navbar #cart_add {
  margin: 0px 0px 0px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 13px;
  font-weight: 500;
  position: relative;
}
nav .navbar #cart_add p {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}
nav .navbar #cart_add .total_item {
  position: absolute;
  top: -1px;
  left: 11px;
  width: 13px;
  height: 13px;
  background-color: #F34F3F;
  font-size: 8px;
  color: #fff;
  font-weight: 600;
  line-height: 1.5em;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
nav .navbar #cart_add:hover .carts {
  display: block;
}
nav .navbar #cart_add .carts {
  background-color: #fff;
  z-index: 999;
  position: absolute;
  top: 75px;
  left: -80px;
  display: none;
  flex-direction: column;
  width: 250px;
  padding: 10px;
}
nav .navbar #cart_add .carts .cart-item {
  width: 100%;
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
nav .navbar #cart_add .carts .cart-item .item-info {
  width: 100%;
  display: flex;
}
nav .navbar #cart_add .carts .cart-item .item-info .item_img {
  width: 30%;
}
nav .navbar #cart_add .carts .cart-item .item-info .item_img img {
  width: 50px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}
nav .navbar #cart_add .carts .cart-item .item-info .item_desc h4 {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: #1B1B1B;
}
nav .navbar #cart_add .carts .cart-item .item-info .item_desc .unit-price span {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  color: #AFAFAF;
}
nav .navbar #cart_add .carts .subtotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  background-color: white;
  font-size: 14px;
  width: 100%;
  color: #2B2B2B;
}
nav .navbar #cart_add .carts .cart_footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
nav .navbar #cart_add .carts .cart_footer button {
  width: 45%;
  height: 40px;
  border: none;
  line-height: 40px;
  padding: 0 18px;
  font-size: 9px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  background-color: #F34F3F;
  text-align: center;
  cursor: pointer;
}
nav .navbar #cart_add .carts .cart_footer #black {
  background-color: #000000;
}

#swiper_bundle {
  position: relative;
  background-color: #f3f3f3;
  padding: 30px 0;
}
#swiper_bundle .left_side {
  position: relative;
  z-index: 1;
  text-align: start;
}
#swiper_bundle .left_side .header {
  gap: 15px;
  width: 65%;
  color: #000000;
  text-align: inherit;
  font-size: 41px;
}
#swiper_bundle .left_side .header h3 {
  font-weight: 400;
  font-family: "Playfair Display", serif;
  margin: 0;
  display: inline;
  text-align: inherit;
  font-size: 41px;
}
#swiper_bundle .left_side .header #flowers {
  font-weight: 400;
  color: #FF0000;
  text-align: inherit;
  font-size: 41px;
}
#swiper_bundle .left_side #title {
  width: 80%;
  margin: 20px 0;
  color: #6D6a6A;
  line-height: 29px;
  font-family: "Lora", serif;
}
#swiper_bundle .rightside_img {
  width: 100%;
}
#swiper_bundle .rightside_img img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 80% 100%;
     object-position: 80% 100%;
  -webkit-animation-name: sliderscale;
          animation-name: sliderscale;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes sliderscale {
  0% {
    transform: scale(1.4);
  }
  20% {
    transform: scale(1.06);
  }
  40% {
    transform: scale(1.08);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1.12);
  }
  100% {
    transform: scale(1.15);
  }
}
@keyframes sliderscale {
  0% {
    transform: scale(1.4);
  }
  20% {
    transform: scale(1.06);
  }
  40% {
    transform: scale(1.08);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1.12);
  }
  100% {
    transform: scale(1.15);
  }
}
#swiper_bundle .swiper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
#swiper_bundle .swiper .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#filter {
  /* Create three equal columns that floats next to each other */
  /* Add a dark background color to the active button */
}
#filter .column {
  display: none;
}
#filter .column .content {
  text-align: center;
  background-color: white;
  padding: 10px;
}
#filter .column .content:hover .card_price #price {
  transform: translateX(0px);
  opacity: 0;
}
#filter .column .content:hover .card_price #addcart {
  transform: translateX(10px);
  opacity: 1;
}
#filter .column .content img {
  width: 100%;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: 0.3s ease-in-out;
}
#filter .column .content img:hover {
  transform: scale(1.03);
}
#filter .column .content h4 {
  font-size: 12px;
  color: #1B1B1B;
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
}
#filter .column .content .card_price {
  display: flex;
  justify-content: center;
}
#filter .column .content .card_price #price {
  color: #AFAFAF;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  transition: 0.2s ease-in-out;
  transform: translateX(-35px);
}
#filter .column .content .card_price #addcart {
  transition: 0.2s ease-in-out;
  opacity: 0;
  transform: translateX(-50px);
  color: #AFAFAF;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
#filter .column .content .card_price #addcart:hover {
  color: #FF0000;
}
#filter .show {
  display: block;
}
#filter .btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}
#filter .btn:hover {
  color: #FF0000;
}
#filter .active {
  color: #FF0000;
}/*# sourceMappingURL=style.css.map */